/*
  A content style sheet that munges Like buttons.

  Copyright 2011 Ashkan Soltani and Brian Kennish

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program. If not, see <http://www.gnu.org/licenses/>.

  Authors (one per line):

    Brian Kennish <byoogle@gmail.com>
*/
.likeplusone {
  min-width: 96px;
  min-height: 24px
}

.connect_widget_number_cloud { width: 56px !important }

.uiGrid .thumbs_up_icon,
.connect_widget_like_button.like_button_like .tombstone_cross {
  margin-right: 0
}

.uiGrid .thumbs_up_icon {
  background-image: none;
  width: 0
}

.connect_widget_number_cloud_summary .connect_widget_connected_text,
.connect_widget_number_cloud_summary .connect_widget_not_connected_text {
  font-size: 16px
}

.connect_widget_like_button.clearfix { padding: 2px 4px }

.connect_widget_like_button.like_button_like .tombstone_cross,
.connect_widget_like_button.clearfix.like_button_like .tombstone_cross:hover,
.connect_widget_like_button.clearfix.like_button_no_like .liketext {
  background-position: 0
}

.connect_widget_like_button.like_button_like .tombstone_cross,
.like_button_no_like .liketext {
  width: 48px;
  height: 18px
}

.connect_widget_like_button.like_button_like .tombstone_cross {
  background-image:
      url(chrome-extension://lpehokhlnomihmdpgoclgbapaglbclfg/unlike+1.png)
}

.connect_widget_like_button.clearfix.like_button_no_like .liketext {
  background-image:
      url(chrome-extension://lpehokhlnomihmdpgoclgbapaglbclfg/like+1.png);
  padding-left: 0
}

.connect_widget_like_button.like_button_like .liketext, .hidden {
  display: none
}

.uiGrid .connect_widget_button_count_count {
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 12px
}

.fbSendButton { left: 64px !important }

.connect_confirmation_cell { left: 118px !important }
